<div class="vertical-center">
  <div class="container">
    <div class="row">
      <div class="card border-0" >
        <div class="card-body">
          <div class="row">
            <div class="timer-style">
              <p class="far fa-clock" id="count-down-timer">00:00</p>
            </div>
          </div>
          <div class="row">
            <div class="header">
              <h2 class="title">Test your knowledge in</h2>
              <h3 class="title" id="category">
                <!--title will be inserted here from the api -->
                {{category}}
              </h3>
              <hr />
            </div>
            <div *ngFor="let question of questions">
              <div class="body">
                <div class="question" id="question">
                  <!--Question will be inserted here from the api -->
                  {{question.question}}
                </div>
                <div class="questions-number">
                  <span id="question-counter"></span>/<span
                    id="question-sum"
                  ></span>
                </div>
                <div class="answers">
                  <!-- 4 answers will be inserted here from the api  -->
                   {{question.correct_answer}}
                </div>
                <div id="alert"></div>
              </div>
            </div>
            <div class="footer">
              <button type="button" id="check-answer">Submit Answer</button>
              <button type="button" id="play-again">Take quiz again!</button>
            </div>
            <div class="scoreArea">
              <p class="scores">correct Answers <span id="correct">0</span></p>
              <p class="scores">
                incorrect Answers <span id="incorrect">0</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
